/* Common layout structural */
/* line 4, ../../sass/app.scss */
.container {
  width: 980px;
  margin: 0px auto;
  text-align: left;
}

/* line 9, ../../sass/app.scss */
.center {
  text-align: center;
}

/* line 10, ../../sass/app.scss */
.right {
  text-align: right;
}

/* line 11, ../../sass/app.scss */
.clear {
  clear: both;
}

/* line 12, ../../sass/app.scss */
.pull-left {
  float: left;
}

/* line 13, ../../sass/app.scss */
.pull-right {
  float: right;
}

/* Common layout stylistic elements */
/* line 16, ../../sass/app.scss */
.boxee-black {
  color: #111111;
}

/* line 17, ../../sass/app.scss */
.error {
  color: red;
  font-weight: bold;
}

/* line 18, ../../sass/app.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  line-height: 1.0em;
}

/* line 19, ../../sass/app.scss */
a {
  color: #dc2800;
  text-decoration: none;
}

/* line 20, ../../sass/app.scss */
.button {
  padding: 6px;
  margin: 10px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: rgba(100, 100, 100, 0.4);
  display: inline-block;
}
/* line 21, ../../sass/app.scss */
.button.plain {
  background: none;
  margin: 0px;
}
/* line 30, ../../sass/app.scss */
.button a {
  padding: 10px 20px;
  display: inline-block;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dc2800), color-stop(100%, #fa2800));
  background: -webkit-linear-gradient(#dc2800, #fa2800);
  background: -moz-linear-gradient(#dc2800, #fa2800);
  background: -o-linear-gradient(#dc2800, #fa2800);
  background: linear-gradient(#dc2800, #fa2800);
  color: #fafafa;
  text-decoration: none;
}

/* Application Layout */
/* line 40, ../../sass/app.scss */
body {
  margin: 0px;
  padding: 0px;
  color: #fafafa;
  background: url(../img/bg-slate.jpg);
  font-family: "Cabin", "sans-serif";
  text-align: center;
}

/* line 47, ../../sass/app.scss */
#content_wrapper {
  min-height: 500px;
}

/* line 50, ../../sass/app.scss */
header, footer {
  text-align: left;
}

/* line 55, ../../sass/app.scss */
header .container .inner-wrapper {
  background: rgba(200, 200, 200, 0.5);
  padding: 10px 20px;
  position: relative;
}
/* line 59, ../../sass/app.scss */
header .container .inner-wrapper h1 {
  line-height: 1.5em;
  text-transform: uppercase;
}
/* line 63, ../../sass/app.scss */
header .container .inner-wrapper .page_header {
  font-size: 22px;
  position: absolute;
  top: 28%;
  left: 48%;
}

/* line 70, ../../sass/app.scss */
footer {
  font-size: 10px;
}

/* Index */
/* line 76, ../../sass/app.scss */
.app-name {
  text-align: center;
}
/* line 78, ../../sass/app.scss */
.app-name h1 {
  text-transform: uppercase;
  font-size: 190px;
}
/* line 81, ../../sass/app.scss */
.app-name h1 .boxee-black {
  text-shadow: 0px 0px 16px white;
}

/* Timeline */
/* line 88, ../../sass/app.scss */
#timeline {
  -webkit-box-shadow: 0px 0px 20px black;
  -moz-box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px black;
}
/* line 90, ../../sass/app.scss */
#timeline .tweet {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#555555, #333333);
  background: -moz-linear-gradient(#555555, #333333);
  background: -o-linear-gradient(#555555, #333333);
  background: linear-gradient(#555555, #333333);
  padding: 20px 20px 30px;
  border-bottom: 1px solid #999999;
  position: relative;
}
/* line 95, ../../sass/app.scss */
#timeline .tweet .user {
  float: left;
}
/* line 98, ../../sass/app.scss */
#timeline .tweet .body {
  float: left;
  margin: 0px 15px;
  width: 795px;
  min-height: 73px;
}
/* line 103, ../../sass/app.scss */
#timeline .tweet .body .message {
  font-size: 25px;
  line-height: 1.2em;
  margin: 0px;
}
/* line 108, ../../sass/app.scss */
#timeline .tweet .body .source {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
}
/* line 114, ../../sass/app.scss */
#timeline .tweet .favorite {
  float: right;
  width: 40px;
  height: 37px;
  background: url(/img/star-gray.png) 50% 50%;
}
/* line 115, ../../sass/app.scss */
#timeline .tweet .favorite.favorited {
  background-image: url(/img/star.png);
}

/* Responsive Design */
@media (min-width: 1140px) {
  /* line 128, ../../sass/app.scss */
  .app-name h1 {
    font-size: 230px;
  }
  /* line 130, ../../sass/app.scss */
  .app-name h1 .boxee-black {
    text-shadow: 0px 0px 20px white;
  }

  /* line 134, ../../sass/app.scss */
  .container {
    width: 1140px;
  }

  /* line 135, ../../sass/app.scss */
  .tweet .body {
    width: 955px;
  }
}
@media (max-width: 979px) {
  /* line 139, ../../sass/app.scss */
  .app-name h1 {
    font-size: 150px;
  }
  /* line 141, ../../sass/app.scss */
  .app-name h1 .boxee-black {
    text-shadow: 0px 0px 12px white;
  }

  /* line 145, ../../sass/app.scss */
  .container {
    width: 768px;
  }

  /* line 146, ../../sass/app.scss */
  .tweet .body {
    width: 585px;
  }
}
